parser
*.bin
__pycache__
*.lvl
*.ptr
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.xcodeproj
*.build
*.cmake
build
.gitmodules
*.obj
*.dylib
*.a
cpascpt
*.exe
*.entitlements